body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html{
	font-size: 100px;
    font-size: 26.67vw;
    background: #f2f2f2;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
	display: block;
}
.chaxun{
    background:#fff;
}
.chaxun input{
    margin: .2rem 0 .2rem .1rem;
}
.banner{
    background:#fff;
}
.pinpai div{
    padding: 0 .15rem 0 .15rem;
}
.pinpai p{
    font-size: 11px;
    padding: .14rem .14rem 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #000;
}
.pinpai div .jiac{
    font-size: 14px;
    font-weight: 600;
}