@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;

}
body{
    display: flex;
	flex-direction: column;
}
body,html{
    height:100%;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}

    

.yi{
    
    width: 100%;
    height: .49rem;
    display:flex;
    align-items: center;
    margin-bottom: .09rem;
    img{
        width: .11rem;
        height: .2rem;
        margin-left:.23rem;
        margin-right:1.19rem;
    }
    b{
        font-size:16px;
        
    }
}
.er{
    width: 100%;
    flex:1;
    overflow:auto;
    -webkit-scrollbar {display: none;}
    .er_dv{
        width:3.43rem;
        margin:0 auto;
        .remen{

            h2{
                height: .53rem;
                font-size: 15px;
                line-height: .53rem;
            }
            ul{
                display: flex;
                // justify-content: space-between;
                flex-wrap:wrap;
                flex:1;
                li{
                    margin-right: .1rem;
                    // flex:1;
                    // width:.72rem;
                    // height:.72rem;
                    position: relative;
                    margin-bottom:.15rem;
                    span{
                        display: block;
                        width:.72rem;
                        height:.72rem;
                        background:url(../img/15.png) no-repeat;
                        background-size: .72rem .72rem;
                        
                    }
                   b{
                        font-size: 14px;
                        color:#f8fbf7;
                        position:absolute;
                        left:.15rem;
                        bottom:.08rem;
                    }
                }
            }

        }
        
    }
}