body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dd, p, input, select, textarea, td {
  margin: 0;
  padding: 0;
}

html {
  font-size: 26.67vw;
}

body {
  display: flex;
  flex-direction: column;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
  display: block;
}

.yi {
  width: 100%;
}

.yi_dv {
  width: 3.37rem;
  height: .58rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yi_dv a {
  display: block;
}

.yi_dv a img {
  width: .2rem;
  height: .2rem;
}

.yi_dv a:nth-child(2) img {
  width: 2.22rem;
  height: .38rem;
}

.yi_dv2 {
  width: 3.37rem;
  height: 1.26rem;
  margin: 0 auto;
  display: flex;
  margin-bottom: .06rem;
}

.yi_dv3 .yi_dv3_p {
  width: 2.4rem;
  height: .67rem;
  font-size: 22px;
  line-height: .67rem;
  margin-bottom: .22rem;
}

.yi_dv3 .yi_dv3_1 {
  display: flex;
  flex-direction: column;
}

.yi_dv3 .yi_dv3_1 p {
  height: .24rem;
  font-size: 9px;
  color: #ff5551;
  line-height: .24rem;
}

.yi_dv3 .yi_dv3_1 a {
  height: .12rem;
  display: block;
}

.yi_dv3 .yi_dv3_1 a img {
  width: .21rem;
  height: .12rem;
}

.yi_dv4 img {
  width: .97rem;
  height: 1.26rem;
}

.yi_dv5 {
  width: 100%;
}

.yi_dv5 .yi_dv5_1 {
  width: 3.37rem;
  height: .54rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.yi_dv5 .yi_dv5_1 .yi_dv5_2 {
  display: flex;
  align-items: center;
  width: .72rem;
  font-size: 9px;
}

.yi_dv5 .yi_dv5_1 .yi_dv5_2 .yi_dv5_4 {
  width: .36rem;
}

.yi_dv5 .yi_dv5_1 .yi_dv5_2 .yi_dv5_4 span {
  font-weight: 600;
  font-size: 12px;
}

.yi_dv5 .yi_dv5_1 .yi_dv5_3 {
  font-size: 13px;
  width: .97rem;
  color: #ff5551;
  text-align: center;
  line-height: .54rem;
}

.er {
  width: 100%;
  height: .85rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.er a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: .55rem;
  height: .47rem;
}

.er a img {
  width: .22rem;
  height: .22rem;
}

.er a .wei_p {
  color: #f56952;
}

.er a p {
  font-size: 10px;
  color: #363634;
}

.san {
  height: .42rem;
  width: 100%;
}

.san ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: .89rem;
  height: .42rem;
  font-size: 14px;
  color: #9c9c9c;
  font-weight: 700;
}

.san ul li {
  position: relative;
}

.san ul li span {
  position: absolute;
  width: .2rem;
  height: .04rem;
  background-color: #f96554;
  border-radius: .02rem;
  left: .04rem;
  top: .24rem;
  display: none;
}

.san ul li:nth-child(1) {
  color: #000;
}

.san ul li:nth-child(1) span {
  display: block;
}

.si {
  width: 100%;
  height: 2.2rem;
  font-size: 16px;
  text-align: center;
}

.si p {
  margin-top: .6rem;
  margin-bottom: .46rem;
}

.si a {
  color: #f96554;
}

.wei {
  width: 100%;
  height: .54rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f1f1f1;
}

.wei a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: .31rem;
  height: .37rem;
}

.wei a img {
  width: .23rem;
  height: .2rem;
}

.wei a .wei_p {
  color: #f56952;
}

.wei a p {
  font-size: 10px;
  color: #363634;
}
